#main-container{
    width:calc(100vw - 256px);
    padding:64px 128px;
}

.dropdown {
    width: 200px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    font-size:14px;
}

.dropdown-selected {
    padding: 10px;
}

.dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: var(--bg-color-1);
    border:1px solid var(--border-color);
    border-radius:6px;
    overflow:hidden;
    top:48px;
}

.dropdown-option {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-color-1);
}

.dropdown-option:last-child {
    border-bottom: none;
}

.dropdown-option:hover {
    background-color: var(--bg-color-2);
}

#shop-navbar, #shop-navbar > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:12px;
}

#shop-navbar > div:first-of-type > h1{
    font-size:28px;
    margin:0;
}

#shop-navbar > div:first-of-type > p{
    font-size:14px;
    margin:0;
}

#shop-navbar{
    margin-bottom:32px;
}

#shop-filters{
    display:flex;
    flex-direction:column;
    width:224px;
    gap:12px;
}

.tree {
    width: 100%;
    border-radius: 6px;
}

.tree-header {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tree-header > h1, #shop-filters > h1{
    margin:0;
    font-size:16px;
}

.tree-header > img{
    height:18px;
}

.tree-list {
    list-style: none;
    padding: 0;
    display: none; /* Hide initially */
}

.tree-list li {
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    font-size:14px;
}

.tree-list li:hover {
    background-color: var(--bg-color-3);
}

.bold {
    background:var(--bg-color-2) !important;
}

.toggle-icon {
    transition: transform 0.2s; /* Smooth transition for the rotation */
}

.rotate-icon {
    transform: rotate(90deg); /* Rotates the image 90 degrees */
}

#shop-main{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:48px;
}

#shop-list{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:Flex-start;
    flex-wrap:wrap;
    gap:24px;
}

.shop-element{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    overflow:hidden;
    border-radius:12px;
    background:var(--bg-color-1);
    border:1px solid var(--border-color);
    transition-duration:250ms;
    width:280px;
    cursor:pointer;
}

.shop-element *{
    cursor:pointer;
}

.shop-element:hover{
    transform:scale(1.025);
    box-shadow:0 0 12px 0 var(--border-color);
}

.shop-element > div:first-of-type{
    width:256px;
    height:256px;
    padding:12px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.shop-element > div:first-of-type > p{
    backdrop-filter: blur(5px);
    background:rgba(0,0,0,0.125);
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:32px;
    padding:0 12px;
    font-size:12px;
    border-radius:16px;
    font-weight:700;
    color:white;
    margin:0;
}

.shop-element > div:nth-of-type(2), .shop-element > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    gap:12px;
    padding:12px;
    width:calc(100% - 24px);
}

.shop-element > div:nth-of-type(2){
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
}

.shop-element > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.shop-element > div:nth-of-type(2) > div:first-of-type > h1{
    font-size:16px;
    margin:0;
}

.shop-element > div:nth-of-type(2) > div:first-of-type > p{
    font-size:14px;
    color:gray;
    margin:0;
}

.shop-green-label{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    width:28px;
    height:28px;
    background: #ebf6f2;
}

.shop-green-label > img{
    filter: invert(74%) sepia(13%) saturate(1871%) hue-rotate(101deg) brightness(90%) contrast(85%);
    height:20px;
}

.shop-yellow-label{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    width:28px;
    height:28px;
    background: #fff2de;
}

.shop-yellow-label > img{
    filter: invert(92%) sepia(23%) saturate(4067%) hue-rotate(325deg) brightness(98%) contrast(98%);
    height:20px;
}

.shop-element > div:last-of-type > p{
    font-weight:700;
    font-size:14px;
    margin:0;
}

.shop-element > div:last-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:6px;
}

.shop-element > div:last-of-type > div > img{
    height:18px;
}

.shop-element > div:last-of-type > div > p{
    margin:0;
    font-size:14px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
}

.price-input {
    width: calc(50% - 6px);
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

#cart-modal{
    display:flex;
    flex-direction:column;
    box-shadow:0 0 12px 0 var(--border-color);
    position:fixed;
    z-index:2;
    bottom:24px;
    right:24px;
    align-items:flex-start;
    justify-content:flex-start;
}

#cart-modal-button{
    background:var(--accent-color);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:36px;
    height:36px;
    border-radius:50%;
    transition-duration:250ms;
    cursor:pointer;
    position:absolute;
    right:0;
    bottom:0;
}

#cart-modal-button:hover{
    box-shadow:0 0 12px 0 var(--border-color);
}

#cart-modal-button > img{
    height:24px;
    filter:invert(1);
}

#cart-modal-main{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    position:absolute;
    bottom:48px;
    right:0;
    background:var(--bg-color-1);
    border:1px solid var(--border-color);
    width:512px;
    border-radius:12px;
    box-shadow:0 0 12px 0 var(--border-color);
    transition-duration:125ms;
}

#cart-modal-main.inactive-modal{
    visibility: hidden;
    opacity:0;
}

#cart-modal-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:calc(100% - 48px);
    border-bottom:1px solid var(--border-color);
    padding:18px 24px;
}

#cart-modal-header > h1{
    margin:0;
    font-size:18px;
}

#cart-modal-header > img{
    height:24px;
    cursor:pointer;
    filter:invert(0.25);
}

#cart-totals{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:calc(100% - 48px);
    padding:12px 24px;
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    gap:12px;
}

.cart-total-sub, .cart-total-main{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
}

.cart-total-sub > p{
    margin:0;
    font-size:14px;
}

.cart-total-sub > h1{
    font-size:14px;
    margin:0;
}

#cart-subtotal::before, #cart-total::before{
    content:'$';
}

#cart-tax::before{
    content:'+ $';
}

.cart-break{
    width:100%;
    border-bottom:1px dashed var(--border-color);
    margin:6px 0;
}

.cart-total-main > p{
    font-size:16px;
    margin:0;
}

.cart-total-main > h1{
    font-size:16px;
    margin:0;
}

#cart-modal-main > a{
    width:calc(100% - 48px);
    margin: 24px;
    background:linear-gradient(135deg, var(--accent-color), var(--accent-gradient));
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    border-radius:6px;
    border:none;
    font-weight:700;
    font-size:14px;
    color:white;
    height:32px;
    cursor:pointer;
    outline:none;
    transition-duration:250ms;
    text-decoration:none;
}

#cart-modal-main > a:hover{
    box-shadow:0 0 12px 0 var(--border-color);
}

.counter-container {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    margin: 6px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.counter-container button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
}

.counter-container .count {
    padding: 6px;
    font-size: 14px;
    user-select: none;
}


#cart-elements{
    max-height:calc(100vh - 381px);
    overflow-y:scroll;
    padding:0 24px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:24px;
    width:calc(100% - 48px);
}

.cart-element:nth-of-type(2){
    margin-top:24px;
}

.cart-element:last-of-type{
    margin-bottom:24px;
}

.cart-element{
    width:100%;
}

.cart-element, .cart-element > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:12px;
}

.cart-element > div:last-of-type{
    width:calc(100% - 108px);
}

.cart-background{
    width:96px;
    height:96px;
    border-radius:12px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.cart-element > div:last-of-type > div{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:6px;
    width:calc(50% - 6px);
}

.cart-element > div:last-of-type > div:first-of-type{
    align-items:flex-start;
}

.cart-element > div:last-of-type > div:last-of-type{
    align-items:flex-end;
}

.cart-element > div:last-of-type > div:first-of-type > h2{
    background:var(--bg-color-2);
    padding:0 12px;
    font-size:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:24px;
    border-radius:12px;
    color:gray;
    text-transform:uppercase;
    margin:0;
}

.cart-element > div:last-of-type > div:first-of-type > h1{
    font-size:18px;
    margin:0;
}

.cart-element > div:last-of-type > div:last-of-type > p{
    margin:0;
    font-size:16px;
    font-weight:700;
}

.cart-element > div:last-of-type > div:last-of-type > h6{
    font-size:12px;
    margin:0;
    color:gray;
}

#cart-no-elements{
    border:1px dashed var(--border-color);
    margin:24px 0;
    width:calc(100% - 2px);
    color:gray;
    text-align:center;
    height:128px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:12px;
}